::-webkit-scrollbar{
	width: 10px;
}

::-webkit-scrollbar-track-piece{
	background-color: #FFF;
}

::-webkit-scrollbar-thumb{
	background-color: #CBCBCB;
}

::-webkit-scrollbar-thumb:hover{
	background-color: #909090;
}

body{
	font-family: 'Lato';
	background: transparent;
}

blockquote{
	border-left: 10px solid #801515;
	padding: 1px 10px;
	margin: 1.5em 10px;
	padding: 0.5em 10px;
}

figure{
	padding: 15px;
}

.header{
	background-image: linear-gradient(rgba(30,30,30,.5), rgba(30,30,30,.5)), url("../images/silicon-valley-san-jose-california-san-francisco-bay-area-usa.jpg");
	background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
	max-width: 100%;
	height: 100vh;
	min-height: 500px;
	text-align: right;
	padding-bottom: 10px;
	padding-right: 10vw;
	padding-top: 60vh;
	color: #FFFFFF;
}

div.header>h1{
	font-weight: 300;
	font-size: 40pt;
}

div.header>h4{
	font-style: italic;
}

.info{
	margin: 1em auto;
	padding-left: 25px;
	padding-right: 25px;
	max-width: 850px;
	line-height: 2;
	width: 100%;
	font-size:18px;
}

.ui-accordion-header {
	background-color: #CCC;
	padding-top: 5px;
	padding-bottom: 5px;
}

.ui-accordion-header:hover {
	background-color: #BBB;
}

.ui-accordion-content {
	width: 100%;
	background-color: #EEEEEE;
	font-size: 16px;
	line-height: 1.5;
	padding: 10px;
}

div.acc p:nth-child(odd){
	font-weight: bold;
}

div.acc2 p:nth-child(-2n+19){
	font-weight: bold;
}

div.acc2 p:nth-child(2n+22):nth-child(-2n+32){
	font-weight: bold;
}

div.acc2 p:nth-child(2n+35){
	font-weight: bold;
}

.navbar{
	z-index: 9999;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    z-index: 9999;
}

.navbar .navbar-collapse {
    text-align: center;
    height: 50px !important;
}

.bcg-parallax{
	top 50;
	padding: 80px 0;
	color: #fff;
	background-color: #000;
	text-align: center;
	position: relative;
	overflow: hidden;
}

.sci{
	background: linear-gradient(rgba(30,30,30,.5), rgba(30,30,30,.5)), url("../images/silicon-valley-san-jose-california-san-francisco-bay-area-usa.jpg") no-repeat;
}

.ack{
	background: linear-gradient(rgba(30,30,30,.5), rgba(30,30,30,.5)), url("../images/brain.png") no-repeat;
	filter: blur(5px);
}

.bcg{
	background-size: cover;
	position: absolute;
	width: 100%;
	height: 150%;
	top: 0;
	z-index: 1;
	opacity: 0.7;
}

.content-wrapper{
	width: 90%;
	margin: 0 auto;
	max-width: 1140px;
	position: relative;
	z-index: 2;
}

.content-wrapper>h1{
	font-weight: 300;
	font-size: 35pt;
}